<div
  class="fade-in mt-4"
  style="max-height: calc(100vh - 85px); padding-right: 10px; max-width: 1240px"
>
  <div class="proj-preview-card" style="margin: 0" *ngIf="proj.title">
    <section
      class="w-100 d-flex justify-content-between align-items-center mb-4"
    >
      <h3 class="text-primary">{{ proj.title }}</h3>
      <section class="d-flex gap-2">
        <a
          class="btn btn-outline-info"
          [ngStyle]="{ display: proj.liveLink ? 'block' : 'none' }"
          href="{{ proj.liveLink }}"
          target="_blank"
          >Live site<span class="bi bi-box-arrow-up-right" style="margin-left: 5px;"></span></a
        >
        <a class="btn btn-outline-info" href="{{ proj.github }}" target="_blank"
          >Github repo</a
        >
      </section>
    </section>
    <section *ngIf="proj.iframe" class="d-flex flex-col align-items-center">
      <h6>Embedded site!</h6>
      <iframe
        [src]="safeLiveSiteUrl"
        frameborder="0"
        width="100%"
        [height]="screen < 600 ? 600 : 850"
        style="margin-bottom: 80px; border-radius: 5px; background-color: white"
      ></iframe>
    </section>
    <img [src]="proj.imgPath" [alt]="proj.title" class="proj-preview-img" />
    <p style="max-width: 550px; margin-left: 10px; margin-top: 8px">
      {{ proj.description }}
    </p>
    <img [src]="proj.imgPath2" [alt]="proj.title" class="proj-preview-img" />
    <p style="max-width: 550px; margin-left: 10px; margin-top: 8px">
      {{ proj.description2 }}
    </p>
  </div>
  <app-footer></app-footer>
</div>
