<div *ngIf="!onlySettingsButton" class="info-container">
  <!-- Top Row -->
  <div class="row" [ngClass]="{ 'mb-2': topRowHasBottomMargin }">
    <ng-container
      *ngTemplateOutlet="teamSlot; context: { team: slotOneTeam }"
    />

    <ng-container *ngIf="!placeBidSectionTopMiddle">
      <ng-container
        *ngTemplateOutlet="teamSlot; context: { team: slotTwoTeam }"
      />
    </ng-container>

    <ng-container *ngIf="placeBidSectionTopMiddle">
      <ng-container *ngTemplateOutlet="bidTrumpSection" />
    </ng-container>

    <ng-container
      *ngTemplateOutlet="teamSlot; context: { team: slotThreeTeam }"
    />
  </div>

  <!-- Bottom Row -->
  <div *ngIf="showSecondRow" class="row">
    <ng-container
      *ngTemplateOutlet="teamSlot; context: { team: slotFourTeam }"
    />
    <ng-container *ngTemplateOutlet="bidTrumpSection" />
    <ng-container
      *ngTemplateOutlet="teamSlot; context: { team: slotFiveTeam }"
    />
  </div>
</div>

<button
  class="btn btn-outline-info settings-open-btn"
  (click)="toggleSettingsModal()"
>
  <i class="bi bi-gear-fill"></i>
</button>

<!-- Templates -->

<ng-template #teamSlot let-team="team">
  <div class="col text-center d-flex flex-column game-status-team-text">
    <span
      [ngClass]="{ 
        'primary-bid-winner-highlight': getBidWinningStatus(team) === 'primary',
        'secondary-bid-winner-highlight': getBidWinningStatus(team) === 'secondary',
      }"
    >
      <i
        *ngIf="
          getBidWinningStatus(team) === 'primary' &&
          gameFormat.label === '5-hand' &&
          gameSettings.showPrimaryBidWinnerForFiveHand
        "
        class="bi bi-fire text-danger"
      ></i>
      {{ getTeamSubInfo(team, true) }}
    </span>
    <span class="text-muted status-label-text">
      {{ getTeamSubInfo(team) }}
    </span>
  </div>
</ng-template>

<ng-template #bidTrumpSection>
  <div
    class="col text-center game-status-team-text trump-bid-text d-flex align-items-center justify-content-center"
  >
    <ng-container *ngIf="showBidTrumpSection">
      <span
        class="suit-icon black-shape-border"
        [ngStyle]="{ color: trumpSuitColor }"
        >{{ trumpSuitIcon }}</span
      >
      <span class="d-flex flex-column">
        <span class="text-muted status-label-text">bid:</span>
        <span class="bid-number">
          {{ bidAmount }}
        </span>
      </span>
    </ng-container>
  </div>
</ng-template>

<!-- Settings modal -->
<div
  #settingsModal
  class="modal fade"
  id="pinochle-settings-modal"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="pinochle-settings-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Pinochle settings</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="refreshGameSettings()"
        ></button>
      </div>
      <div class="modal-body" style="overflow-x: auto">
        <!-- start of modal body content -->

        <form>
          <div
            *ngFor="let format of defaultGameFormats"
            class="mb-4 d-flex flex-column"
          >
            <!-- Format Label and Description -->
            <p
              class="mb-1"
              [ngClass]="{
                'text-info': format.label === gameFormat?.label
              }"
            >
              {{ format.label }}
              <span class="text-muted">possible trick points</span>
            </p>

            <!-- Dropdown and Value/Input -->
            <div class="d-flex align-items-center">
              <select
                class="form-select me-2"
                [(ngModel)]="selectedPoints[format.label]"
                (change)="
                  onDropdownChange(format.label, format.possibleTrickPoints)
                "
                [name]="format.label + '-dropdown'"
                style="width: 120px"
              >
                <option value="default">Default</option>
                <option value="custom">Custom</option>
              </select>

              <!-- Value/Input Display -->
              <div
                *ngIf="
                  selectedPoints[format.label] === 'default';
                  else customInput
                "
              >
                <span class="form-control-plaintext">{{
                  format.possibleTrickPoints
                }}</span>
              </div>

              <ng-template #customInput>
                <input
                  type="number"
                  [(ngModel)]="gameSettings.customTrickPoints[format.label]"
                  (blur)="onCustomInputBlur(format)"
                  [name]="format.label + '-custom-input'"
                  class="form-control"
                  min="0"
                  placeholder="Enter custom points"
                  style="width: 100px"
                />
              </ng-template>
            </div>
          </div>
          <small *ngIf="invalidCustomTricksMessage" class="text-danger">{{
            invalidCustomTricksMessage
          }}</small>

          <!-- Auto Calculate Setting -->
          <div class="form-check mt-4">
            <input
              class="form-check-input"
              type="checkbox"
              id="auto-calculate"
              [(ngModel)]="gameSettings.autoCalculate"
              name="autoCalculate"
            />
            <label class="form-check-label" for="auto-calculate">
              Enable Auto-Calculate
            </label>
          </div>
          <p class="text-muted" style="font-style: italic">
            The trick-taking page will try to auto-fill the other values based
            on your input.
          </p>

          <!-- showPrimaryBidWinnerForFiveHand setting -->
          <div class="form-check mt-4">
            <input
              class="form-check-input"
              type="checkbox"
              id="show-primary-bid-winner-for-five-hand"
              [(ngModel)]="gameSettings.showPrimaryBidWinnerForFiveHand"
              name="showPrimaryBidWinnerForFiveHand"
            />
            <label class="form-check-label" for="auto-calculate">
              Show Primary Bid Winner (5-hand)
            </label>
          </div>
          <p class="text-muted" style="font-style: italic">
            This shows a <i class="bi bi-fire text-danger"></i> icon next to the
            primary bid winner.
          </p>
        </form>

        <!-- end of modal body content -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="refreshGameSettings()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveNewGameSettings()"
        >
          Save settings
        </button>
      </div>
    </div>
  </div>
</div>
