<div class="d-flex flex-col gap-3">
  <div
    *ngFor="let song of playList; let i = index"
    class="d-flex align-items-center justify-content-between gap-4 w-100"
    style="max-width: 100% !important;"
  >
    <div class="d-flex align-items-center gap-2">
      <a
        class="p-1 text-primary"
        (click)="onNewSong(i)"
        style="border-radius: 50%; cursor: pointer"
        [ngStyle]="{
          fontSize: screen < 600 ? '1.4rem' : '1.8rem',
        }"
      >
        <span class="bi bi-play-fill"></span>
      </a>
      <div style="max-width: calc(100vw - 114px)">
        <p
          class="mb-0 truncate"
          [ngClass]="{
            'text-primary': i === audioService.getCurrentSongIndex()
          }"
        >
          {{ song.name }}
        </p>
        <p class="text-muted mb-0 truncate">{{ song.artist }}</p>
      </div>
    </div>
    <p class="mb-0">{{ song.durationStr }}</p>
  </div>
</div>
