<section class="w-100 d-flex flex-col align-items-center p-2 mt-5">
  <p *ngIf="!isFirstPlayer(); else startGameBtn" style="text-align: center">
    Sit back and relax! The game should start soon.
  </p>

  <ng-template #startGameBtn>
    <p style="text-align: center">
      You're the first one in! Start the game once everyone has joined.
    </p>

    <section class="mt-4 d-flex flex-col align-items-center">
      <p class="mb-2 text-faded" *ngIf="!canStartGame()">
        This game requires at least 2 players!
      </p>
      <button
        class="btn btn-info"
        [disabled]="!canStartGame()"
        (click)="startFreshGame()"
      >
        Everyone's in, let's go!
      </button>
    </section>
  </ng-template>
</section>
