<div
  *ngIf="screen >= 700; else drawerHeader"
  class="header-cont"
  data-bs-theme="light"
>
  <ul
    class="nav nav-tabs justify-content-center"
    style="padding: 0px 10px"
    id="myTab"
    role="tablist"
  >
    <ng-template let-tab ngFor [ngForOf]="tabs">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          routerLinkActive="active"
          style="color: rgba(256, 256, 256, 0.7); font-size: 13px"
          routerLink="{{ tab.route }}"
        >
          {{ tab.name }}
        </button>
      </li>
    </ng-template>
  </ul>
  <a href="#footer">
    <h6
      style="cursor: pointer"
      class="contact-btn text-info"
      [ngClass]="{
      'display-none': screen < 400,
    }"
    >
      Contact {{ screen >= 600 ? "me" : "" }}
    </h6>
  </a>
  <h5
    class="contact-btn"
    style="left: 15px; width: fit-content; cursor: pointer"
    routerLink="/home"
    [ngClass]="{
      'display-none': screen < 600,
    }"
  >
    Mason Hirst
  </h5>
</div>

<!-- Drawer header on smaller screens -->
<ng-template #drawerHeader>
  <div
    class="header-cont d-flex justify-content-between align-items-center"
    style="border-bottom: 1px solid #0ae6b7;"
    [ngStyle]="{
      padding: screen < 600 ? '8px 7px' : '8px 14px',
    }"
  >
    <a
      class="navbar-toggler d-flex align-items-center gap-1"
      data-bs-toggle="offcanvas"
      data-bs-target="#drawer"
      role="button"
      aria-controls="drawer"
      style="text-decoration: none !important;"
    >
      <span class="navbar-toggler-icon" style="font-size: 20px"></span>
      <span style="opacity: .8;">Menu</span>
    </a>

    <h5 class="mb-0" style="cursor: pointer; font-size: 1.1rem;" routerLink="/home">Mason Hirst</h5>
  </div>

  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="drawer"
    aria-labelledby="drawer"
    data-bs-dismiss="backdrop"
    style="width: 220px"
  >
    <div class="offcanvas-header">
      <h5 class="mb-0" style="cursor: pointer" routerLink="/home">Mason Hirst</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div
      class="nav flex-column nav-pills"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        *ngFor="let tab of tabs"
        class="nav-link text-faded"
        style="white-space: nowrap"
        routerLinkActive="active"
        [routerLink]="tab.route"
      >
        {{ tab.name }}
      </button>
    </div>
    </div>
  </div>
</ng-template>
