<div class="join-page-wrapper mt-5">
  <h2 style="color: orange">6 Nimmt!</h2>
  <!-- <h3 style="opacity: 0.8">Waiting for players</h3> -->
  <section class="game-code-wrapper">
    <p>Game code:</p>
    <h2 class="" style="color: aqua; font-size: 4rem" (click)="copyGameCode()">
      {{ gameCode }}
    </h2>
  </section>
  <h4 class="mb-3">Hosts: {{ gameData?.hosts.length }}</h4>

  <h4>Players:</h4>
  <ul class="mb-4">
    <p
      *ngFor="let player of getPlayersList(); let i = index"
      [key]="i"
      style="color: orange"
    >
      <a (click)="kickPlayer(player)">
        <span aria-hidden="true" class="kick-player-btn"> &times; </span>
      </a>
      {{ player.playerName }}
    </p>
  </ul>

  <section
    class="d-flex flex-col align-items-center"
    style="max-width: 200px; text-align: center"
  >
    <p class="mb-2 text-info" *ngIf="!canStartGame()">
      This game requires at least 2 players!
    </p>
    <button
      class="btn btn-lg btn-primary"
      color="primary"
      (click)="startFreshGame()"
      [disabled]="!canStartGame()"
    >
      Start Game
    </button>
  </section>
</div>
