<div
  class="d-flex flex-col w-100 align-items-center mt-3"
  style="padding: 0 10px"
>
  <div class="d-flex align-items-center gap-2">
    <i
      style="font-size: 22px; cursor: pointer"
      class="bi bi-chevron-left"
      routerLink="../"
    ></i>
    <h2
      class="text-info mb-0"
      [ngStyle]="{
        fontSize: screen < 400 ? '1.6rem' : '2rem',
      }"
    >
      Music library
    </h2>
  </div>
  <p class="mb-4" style="text-align: center">
    Music I have recorded or been involved in making
  </p>

  <div
    class="d-flex gap-4 library-cont"
    [ngClass]="{
    'library-cont-full': screen < 800,
  }"
  >
    <div class="song-list-cont" [ngStyle]="{
      
    }">
      <app-song-list></app-song-list>
    </div>

    <div
      class="d-flex flex-col align-items-center library-audio-player"
      [ngClass]="{
        'library-audio-player-full': screen < 800 && !audioPullup,
        'hide-audio-player': !currentSong?.name,
      }"
    >
      <a
        *ngIf="screen < 800 && audioPullup"
        (click)="audioPullup = !audioPullup"
        style="position: absolute; top: 0; left: 5px; cursor: pointer"
        ><span
          class="bi"
          [ngClass]="{
            'bi-arrow-down-short': audioPullup,
            'bi-arrow-up-short': !audioPullup,
          }"
          style="font-size: 2rem"
        ></span
      ></a>

      <app-music-controls
        *ngIf="screen < 800 && !audioPullup"
        [collapsed]="true"
        (toggleCollapse)="audioPullup = !audioPullup"
      ></app-music-controls>

      <div #bigWavesurfer style="width: min(100%, 500px); position: relative">
        <div
          *ngIf="drawingSurfer"
          style="
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          "
        >
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>

      <app-music-controls
        [collapsed]="false"
        (toggleCollapse)="audioPullup = !audioPullup"
      ></app-music-controls>
    </div>
  </div>
</div>
