<div
  class="w-100 flex-col justify-content-center align-items-center audio-player-pullout p-2"
  [ngStyle]="{
    transform: audioPullout ? 'translateX(-3%)' : 'translateX(100%)',
    display: inLibrary ? 'none' : 'flex',
  }"
>
  <a
    class="audio-player-pullout-tag d-flex justify-content-center align-items-center"
    (click)="audioPullout = !audioPullout"
  >
    <span
      *ngIf="!audioPullout"
      class="bi bi-arrow-bar-left pullout-icon"
    ></span>
    <span
      *ngIf="audioPullout"
      class="bi bi-arrow-bar-right pullout-icon"
    ></span>
  </a>

  <div #waveformSmallCont class="w-100">
    <div
      #waveform
      style="width: 100%"
      [ngStyle]="{
        display: hideWavesurfer ? 'none' : 'block'
      }"
    ></div>
  </div>

  <h6 *ngIf="currentSongIndex" style="text-align: center;">{{ playlist[currentSongIndex].name }}</h6>

  <section class="d-flex align-items-center gap-3">
    <a (click)="incrementSong(false)"
      ><span
        class="bi bi-skip-start-fill"
        style="font-size: 2.2rem; cursor: pointer"
      ></span
    ></a>
    <a (click)="playPauseSong()"
      ><span
        class="bi"
        [ngClass]="{
          'bi-play-fill': !isPlaying,
          'bi-pause-fill': isPlaying,
        }"
        style="font-size: 3.5rem; cursor: pointer"
      ></span
    ></a>
    <a (click)="incrementSong(true)"
      ><span
        class="bi bi-skip-end-fill"
        style="font-size: 2.2rem; cursor: pointer"
      ></span
    ></a>
  </section>
</div>
