<div
  class="w-100 flex-col justify-content-center align-items-center audio-player-pullout p-3"
  [ngStyle]="{
    transform: audioPullout ? 'translateX(-2%)' : 'translateX(100%)',
    display: inLibrary ? 'none' : 'flex',
  }"
>
  <a
    class="audio-player-pullout-tag d-flex justify-content-center align-items-center"
    (click)="audioPullout = !audioPullout"
  >
    <span
      class="bi pullout-icon"
      [ngClass]="{
        'bi-arrow-left-short': !audioPullout,
        'bi-arrow-right-short': audioPullout
      }"
    ></span>

    <app-sound-animation *ngIf="!audioPullout" [isPlaying]="isPlaying"></app-sound-animation>
  </a>

  <a routerLink="/extras/audio-library" class="mb-3">To audio library</a>

  <div #waveformSmallCont class="w-100" style="position: relative">
    <div
      #waveform
      style="width: 100%;"
    ></div>
    <div
      *ngIf="drawingSurfer"
      style="
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <div style="max-width: 100%;">

    <app-music-controls></app-music-controls>
  </div>
</div>
