<app-game-status
  [gameState]="getDataForStatus()"
  [currentPage]="'trick-taking'"
  [gameFormat]="gameFormat"
/>

<div class="container fade-in my-5">
  <h2 class="text-center mb-4">Trick-Taking Phase</h2>

  <div class="mb-4">
    <p><strong>Instructions:</strong></p>
    <ul>
      <li>
        Record the total trick points each team has won during this round.
      </li>
      <li>Enter the trick score for each team below.</li>
    </ul>
  </div>

  <form class="mb-3">
    <div *ngFor="let team of teams; let i = index" class="form-group mb-3">
      <ng-container *ngIf="showTeamInput(i)">
        <label [for]="team.name"
          >{{ getTeamComboName(i) }}'s trick points</label
        >
        <input
          type="number"
          [id]="team.name"
          [(ngModel)]="team.trickScore"
          (blur)="onTrickInputChange()"
          [name]="team.name + 'TrickPoints'"
          class="form-control"
          placeholder="Enter Trick Points"
          min="0"
          required
        />
      </ng-container>
    </div>
  </form>

  <app-nav-buttons
    [goBackLabel]="'Back'"
    [goForwardLabel]="'Save Trick Points'"
    (backClicked)="goBack()"
    (forwardClicked)="submitTricks()"
  />
</div>
