<app-game-status
  *ngIf="getDataForStatus() && gameFormat"
  [gameState]="getDataForStatus()"
  [currentPage]="'trick-taking'"
  [gameFormat]="gameFormat"
/>

<div class="container fade-in my-4">
  <div class="d-flex flex-column align-items-center gap-2 mb-4">
    <h2 class="text-center mb-2">Trick-Taking Phase</h2>
    <sub class="text-center text-muted mb-3"
      >Remember the last trick is worth extra points!</sub
    >
    <div
      *ngIf="!gameSettings.autoCalculate && !showCalculateButtons"
      class="text-muted d-flex align-items-center"
      style="font-size: 0.9rem"
    >
      <i class="bi bi-exclamation-triangle-fill me-2" style="color: yellow"></i>
      <small>Auto-calculate is turned off.</small>
    </div>
  </div>

  <form class="mb-3">
    <div *ngFor="let team of teams; let i = index" class="form-group mb-3">
      <ng-container *ngIf="showTeamInput(i)">
        <label [for]="team.name"
          >{{ getTeamComboName(i) }}'s trick points</label
        >
        <ng-container *ngIf="showCalculateButtons; else soloInput">
          <div class="input-group">
            <input
              type="number"
              [id]="team.name"
              [(ngModel)]="team.trickScore"
              (ngModelChange)="setNoTrickPointsMessage('')"
              [name]="team.name + 'TrickPoints'"
              class="form-control"
              placeholder="Enter Trick Points"
              min="0"
              required
            />
            <button
              *ngIf="showCalculateButtons"
              type="button"
              class="btn ms-2"
              [ngClass]="{
                'btn-outline-info': !isEligibleForAutoCalculateButton(i),
                'btn-info': isEligibleForAutoCalculateButton(i)
              }"
              (click)="calculateTrickPoints(i)"
              [disabled]="!isEligibleForAutoCalculateButton(i)"
            >
              Calculate
            </button>
          </div>
        </ng-container>

        <ng-template #soloInput>
          <input
            type="number"
            [id]="team.name"
            [(ngModel)]="team.trickScore"
            (ngModelChange)="onTrickInputChange(i)"
            (blur)="onTrickInputChange(i, true)"
            [name]="team.name + 'TrickPoints'"
            class="form-control"
            placeholder="Enter Trick Points"
            min="0"
            required
          />
        </ng-template>
      </ng-container>
    </div>

    <p class="mb-1">
      <span class="text-muted">Trick points claimed: </span
      ><span
        [ngClass]="{
          'text-primary': trickSubTotal === possibleTricks,
          'text-danger': trickSubTotal > possibleTricks,
        }"
      >
        <i
          class="bi"
          [ngClass]="{
            'fade-in': trickSubTotal >= possibleTricks,
            'bi-check-circle-fill text-success': trickSubTotal <= possibleTricks,
            'bi-x-circle-fill text-danger': trickSubTotal > possibleTricks,
          }"
          [ngStyle]="{
            opacity: trickSubTotal === possibleTricks ? 1 : 0
          }"
        ></i>
        {{ trickSubTotal }}</span
      >
      / <span class="text-muted">{{ possibleTricks }}</span>
    </p>

    <div
      *ngIf="showCustomFlag"
      class="text-muted d-flex align-items-center"
      style="font-size: 0.9rem"
    >
      <i class="bi bi-info-circle-fill me-2 text-info"></i>
      <small>You have set a custom trick points total.</small>
    </div>

    <small *ngIf="noTrickPointsMessage" class="text-danger">{{
      noTrickPointsMessage
    }}</small>
  </form>

  <app-nav-buttons
    [goBackLabel]="'Back'"
    [goForwardLabel]="'Save Trick Points'"
    (backClicked)="goBack()"
    (forwardClicked)="submitTricks()"
  />
</div>
