<div
  style="
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
  "
>
  <p>Total points this round: {{ totalCardPoints() }}</p>
  <app-pick-a-row
    *ngIf="showPickRowComponent()"
    [gameData]="gameData"
    [gameCode]="gameCode"
  />

  <div class="player-cards-wrapper">
    <app-nimmt-card
      *ngFor="let card of getMyCards(); let i = index"
      key="{{ i }}"
      [card]="card"
      [height]="determineCardHeight(110)"
      [cardIndex]="i"
      (cardClick)="handleCardClick(card)"
      [selected]="isSelected(card)"
    />
  </div>
</div>
