<div class="card-select-wrapper">
  <app-pick-a-row
    *ngIf="showPickRowComponent()"
    [gameData]="gameData"
    [gameCode]="gameCode"
  />

  <div
    class="player-cards-wrapper"
    [ngStyle]="{
      opacity: gameData?.gameState !== 'PICKING_CARDS' ? 0.6 : 1
    }"
  >
    <app-nimmt-card
      *ngFor="let card of getMyCards(); let i = index"
      key="{{ i }}"
      [card]="card"
      [height]="determineCardHeight(110)"
      [cardIndex]="i"
      (cardClick)="handleCardClick(card)"
      [selected]="isSelected(card)"
      [selectable]="gameData?.gameState === 'PICKING_CARDS'"
    />
  </div>
</div>
