<div
  class="d-flex flex-col align-items-center poke-detail-cont"
  [ngStyle]="{
    maxHeight: imgLoading ? 0 : 'fit-content',
    overflow: 'hidden',
  }"
>
  <div
    class="d-flex align-items-center justify-content-between mb-3 w-100"
    style="padding: 0 5px"
  >
    <a
      (click)="increment.emit(false)"
      style="cursor: pointer"
    >
      <span class="bi bi-chevron-left" style="font-size: 20px"></span>
    </a>
    <div class="d-flex gap-3 align-items-end">
      <h2
        class="mb-0 text-primary capitalize"
        [ngStyle]="{
        fontSize: screen <= 460 ? '1.4rem' : '2rem',
      }"
      >
        {{ poke.name }}
      </h2>
      <h4
        class="text-faded mb-0"
        [ngStyle]="{
      fontSize: screen <= 460 ? '1.1rem' : '1.5rem',
    }"
      >
        {{ formatId(poke.id) }}
      </h4>
    </div>
    <a (click)="increment.emit(true)" style="cursor: pointer">
      <span class="bi bi-chevron-right" style="font-size: 20px"></span>
    </a>
  </div>

  <div
    class="d-flex align-items-start poke-detail-hero"
    [ngClass]="{
      'flex-col': screen < 750,
    }"
    [ngStyle]="{
      gap: screen < 750 ? '20px' : '12px'
    }"
  >
    <div [ngStyle]="{ width: screen < 750 ? '100%' : '50%' }">
      <img
        src="{{ poke.sprites.other['official-artwork'].front_default }}"
        alt="{{ poke.name }}"
        class="poke-img"
        (load)="onImgLoad($event)"
        (error)="onImgLoad($event)"
      />

      <div class="bar-graph-wrapper">
        <h5 class="text-center">Stats total: {{ totalStats() }}</h5>
        <div class="bar-graph d-flex gap-1 mt-2 justify-content-center">
          <div
            *ngFor="let stat of poke.stats"
            class="d-flex flex-col align-items-center"
            style="width: 60px"
          >
            <div class="w-100">
              <div class="bar-outline" style="margin: 0 auto">
                <div
                  class="bar-fill"
                  [ngStyle]="{
                height: stat.base_stat / 1.8 + '%',
              }"
                >
                  <p style="font-size: 15px; margin-top: -2px">
                    {{ stat.base_stat }}
                  </p>
                </div>
              </div>
              <p
                class="mt-1 stat-txt"
                style="text-align: center; line-height: 1.2"
              >
                {{ formatStatName(stat.stat.name) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-col gap-3 poke-info-card">
      <p>{{ poke.desc }}</p>
      <div class="d-flex justify-content-between poke-attrs-card">
        <div class="attrs-attr">
          <p>Height</p>
          <p class="text-info capitalize">{{ formatHeight(poke.height) }}</p>
        </div>
        <div class="attrs-attr">
          <p>Weight</p>
          <p class="text-info capitalize">{{ weightToLbs(poke.weight) }} lbs</p>
        </div>
        <div class="attrs-attr">
          <p>Category</p>
          <p class="text-info capitalize">
            {{ formatCategoryName(poke.category) }}
          </p>
        </div>
        <div class="attrs-attr">
          <p>Gender</p>
          <p class="text-info capitalize">{{ poke.species.gender }}</p>
        </div>
        <div class="attrs-attr">
          <p>Abilities</p>
          <p *ngFor="let abi of poke.abilities" class="text-info capitalize">
            {{ !abi.is_hidden ? abi.ability.name : "" }}
          </p>
        </div>
      </div>

      <div class="types-section">
        <div>
          <h5>Type</h5>
          <div class="d-flex gap-2 mt-2 mb-4" style="flex-wrap: wrap">
            <span
              *ngFor="let type of poke.types"
              class="{{ 'poke-type-badge poke-type-badge-' + type.type.name }}"
              >{{ type.type.name }}</span
            >
          </div>
        </div>
        <div>
          <h5>Weaknesses</h5>
          <div class="d-flex gap-2 mt-2 mb-4" style="flex-wrap: wrap">
            <span
              *ngFor="let weak of poke.damage_relations.weaknesses"
              class="{{ 'poke-type-badge poke-type-badge-' + weak }}"
              >{{ weak }}</span
            >
          </div>
        </div>
        <div>
          <h5>Super effective against</h5>
          <div class="d-flex gap-2 mt-2 mb-4" style="flex-wrap: wrap">
            <span
              *ngFor="let strength of poke.damage_relations.strengths"
              class="{{ 'poke-type-badge poke-type-badge-' + strength }}"
              >{{ strength }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
