<div class="w-100">
  <div class="mt-2 d-flex" style="margin-left: 20px">
    <!-- Your content goes here -->
    <div
      class="nav flex-column nav-pills me-3"
      style="margin: 0; height: 100%; padding-top: 50px"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        *ngFor="let proj of projects"
        class="nav-link text-faded"
        style="white-space: nowrap"
        routerLinkActive="active"
        [routerLink]="proj.path"
      >
        {{ proj.title }}
      </button>
    </div>

    <div class="v-line" style="margin-right: 20px;"></div>

    <div style="overflow: auto; width: 100%;" class="d-flex justify-content-center">
      <router-outlet></router-outlet>
    </div>
    <!-- End of page content -->
  </div>
</div>
