<div class="container fade-in mb-5 mt-4">
  <ng-container *ngIf="gameData?.roundHistory?.[0]?.currentBid">
    <!-- Winning Team Section -->
    <div class="alert alert-success text-center mb-0">
      <h3 *ngIf="isTie">🎉 It's a tie! 🎉</h3>
      <h5 class="my-3">Congratulations to the winning team{{ isTie ? "s" : "" }}:</h5>
      <h3>
        🎉 
        <span *ngFor="let team of getWinningTeams(); let i = index">
          <strong class="text-primary">{{ team.name }}</strong>
          <span *ngIf="i < getWinningTeams().length - 1">, </span>
        </span>
        🎉 
      </h3>
      <p>
        Final Score:
        <span style="font-weight: bold; color: gold">{{
          getWinningTeamScore()
        }}</span>
      </p>
    </div>

    <!-- Game History Tables -->
    <div class="d-flex flex-column-reverse">
      <div *ngFor="let round of roundHistory">
        <app-round-summary-table
          [gameState]="round"
          [gameFormat]="gameData?.gameFormat"
          [gameSettings]="gameSettings"
        />
      </div>
    </div>
  </ng-container>

  <p
    *ngIf="!gameData?.roundHistory?.[0]?.currentBid"
    class="text-center"
    style="color: yellow"
  >
    <span class="bi bi-x-circle"></span>
    No game data was found with the provided ID.
  </p>

  <p *ngIf="gameData?.roundHistory?.[0]?.currentBid" class="text-center">
    <span class="text-info bi bi-info-circle"></span> The most recent 25 games
    are saved in your browser. You can view them anytime from the Pinochle
    Scoreboard home page!
  </p>

  <div class="d-flex justify-content-between mt-4">
    <button type="button" (click)="exit()" class="btn btn-outline-info">
      Exit
    </button>
  </div>
</div>
