<div *ngIf="gameIsOver()">
  <h1>Game over!</h1>
  <h6>
    Looks like
    <strong class="text-primary">{{ getLosersStatement() }}</strong> got at
    least 66 points. Let's be nice guys - they probably feel bad already.
  </h6>
  <h2>Final scores:</h2>
</div>

<div class="review-table-container" [ngClass]="{
  'mt-4': !gameIsOver(),
}">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th
          scope="col"
          *ngFor="let _ of [].constructor(gameData?.gameNumber); let i = index"
        >
          round {{ i + 1 }}
        </th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of getPlayers(true)">
        <th scope="row">{{ player.playerName }}</th>
        <td *ngFor="let score of player.roundScores">
          {{ getRoundScores(score) }}
        </td>
        <td>{{ getTotalScore(player) }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-primary m-2" (click)="sendMessage('start-next-round')">
  {{ gameIsOver() ? "New game" : "Next round" }}
</button>

<button class="btn btn-info" (click)="navigateToGames()">End this game</button>
