.unopened-cell-img {
  background-image: url('../../../assets/unopened-cell.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.drop-in {
  width: 200%;
  opacity: .5;
  animation: dropInAnimation 0.15s linear forwards;
}

@keyframes dropInAnimation {
  0% {
    width: 200%;
    opacity: .5;
  }
  100% {
    width: 55%;
    opacity: 1;
    color: a;
  }
}



.minesweeper-border {
  background-color: #ddd; /* Set the background color of the border */
  border: 2px solid #777; /* Set the border color and width */
  border-radius: 4px; /* Add rounded corners to the border */
  padding: 3px; /* Add some padding inside the border */
}

/* Optional: Add some shadow effect to the border */
.minesweeper-border {
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); */
}

/* Optional: Add some gradient background to the border */
.minesweeper-border {
  background-image: linear-gradient(to bottom right, #eee, #ccc);
}
