.unopened-cell-img {
  background-image: url("../../../assets/unopened-cell.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.question-cell-img {
  background-image: url("../../../assets/question-square.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

code {
  font-size: 1rem;
}

.drop-in {
  opacity: 0.5;
  width: 55%;
  animation: dropInAnimation 0.15s linear forwards;
}

@keyframes dropInAnimation {
  0% {
    transform: scale(6.5);
    opacity: 0.5;
    position: absolute !important;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

img {
  user-select: none;
}

.minesweeper-cell {
  max-width: 31px;
  max-height: 31px;
  width: 31px;
  height: 31px;
  border-right: 1.8px solid grey;
  border-bottom: 1.8px solid grey;
}

.minesweeper-border {
  background-color: #ddd;
  border: 2px solid #777;
  border-radius: 4px;
  padding: 3px;
  background-image: linear-gradient(to bottom right, #eee, #ccc);
}



@media (max-width: 1024px) {
  .minesweeper-cell {
    width: 29px;
    height: 29px;
  }
}

.remove-p-margin p {
  margin-bottom: 2px;
}
