.unopened-cell-img {
  background-image: url('../../../assets/unopened-cell.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.drop-in {
  width: 200%;
  opacity: .5;
  animation: dropInAnimation 0.15s linear forwards;
}

@keyframes dropInAnimation {
  0% {
    width: 200%;
    opacity: .5;
  }
  100% {
    width: 55%;
    opacity: 1;
    color: a;
  }
}


img {
  user-select: none;
}



.minesweeper-border {
  background-color: #ddd;
  border: 2px solid #777;
  border-radius: 4px;
  padding: 3px;
  background-image: linear-gradient(to bottom right, #eee, #ccc);
}
