<div class="d-flex align-items-center justify-content-between mt-3 mb-3" style="max-width: 600px; margin: 0 auto;">
  <!-- Triggers the modal in games.component.html -->
  <div class="d-flex align-items-center gap-2">
    <i
      style="font-size: 22px; cursor: pointer"
      class="bi bi-chevron-left"
      routerLink="../"
    ></i>
    <h4
      class="text-info mb-0"
      [ngStyle]="{
        fontSize: screen < 400 ? '1.2rem' : '1.5rem'
      }"
    >
      Minesweeper
    </h4>
  </div>
  <button
    type="button"
    class="btn btn-outline-primary"
    [ngClass]="{ 'btn-sm': screen < 400 }"
    style="margin-right: 5px"
    data-bs-toggle="modal"
    data-bs-target="#minesweeper-settings-modal"
  >
    Settings
    <i class="bi bi-gear-fill"></i>
  </button>
</div>

<div
  class="w-100 d-flex justify-content-between align-items-center mb-2"
  style="padding: 0 5px; max-width: 600px; margin: 0 auto;"
>
  <code
    class="mb-0"
    style="color: white;"
    [ngStyle]="{ 'font-size': screen < 400 ? '1rem' : '1.4rem' }"
  >
    {{ getTimerValue(timer) }}
  </code>

  <div class="d-flex flex-col align-items-center">
    <p class="mb-0">Bombs</p>
    <h5 class="mb-0 text-danger">{{ getRemainingBombCount() }}</h5>
  </div>
  <button
    class="btn btn-outline-primary"
    [ngClass]="{ 'btn-sm': screen < 400 }"
    (click)="onNewGame()"
  >
    New game
  </button>
</div>

<div
  #minesweeperScrollCont
  *ngIf="gameRows.length"
  class="d-flex justify-content-start align-items-center"
  style="
    min-width: min(500px, 100%);
    padding: 5px 0;
    max-width: 100% !important;
    overflow-x: auto;
  "
>

  <!-- start of minesweeper game -->
  <div id="mine-sweeper-game" class="minesweeper-border" style="margin: 0 auto;">
    <div class="d-flex" *ngFor="let row of gameRows; let i = index">
      <div
        *ngFor="let cell of row; let k = index"
        class="d-flex justify-content-center align-items-center minesweeper-cell"
        [ngClass]="{
            'unopened-cell-img': cell.flagged && cell.value === 'bomb' && cell.revealed || !cell.revealed,
            'question-cell-img': cell.question && !cell.revealed,
          }"
        [ngStyle]="{
          backgroundColor: cell.destroyed ? 'red' : '#BDBDBD',
        }"
        (contextmenu)="onRightClick(i, k, $event)"
        (mousedown)="onMouseDown(i, k, $event)"
        (mouseup)="onMouseUp(i, k, $event)"
      >
        <img
          *ngIf="cell.revealed && cell.value === 'bomb' && !cell.flagged"
          src="../../../assets/bomb.png"
          alt="bomb"
          style="width: 95%"
        />
        <img
          *ngIf="cell.revealed && cell.value !== 'bomb' && cell.flagged"
          src="../../../assets/bomb-x.png"
          alt="bomb"
          style="width: 95%"
        />
        <img
          *ngIf="
            cell.revealed ? cell.flagged && cell.value === 'bomb' : cell.flagged
          "
          src="../../../assets/flag.png"
          alt="flagged cell"
          class="drop-in"
        />
        <img
          *ngIf="
            cell.revealed &&
            cell.value !== 'bomb' &&
            cell.value &&
            !cell.flagged
          "
          [src]="'../../../assets/num-' + cell.value + '.png'"
          alt="number"
          style="width: 90%"
        />
      </div>
    </div>
  </div>
  <!-- end of minesweeper game -->
</div>

<div
  class="d-flex flex-col mt-5"
  style="max-width: min(360px, 100vw - 25px); margin: 0 auto; gap: 10px"
>
  <div class="d-flex justify-content-between">
    <p class="mb-0">Easy:</p>
    <div class="filler-dotted-line"></div>
    <code
      class="mb-0"
      [ngClass]="{
        'text-primary': getBestTime('easy') !== 'Incomplete',
        'text-white': getBestTime('easy') === 'Incomplete',
      }"
      [ngStyle]="{
        opacity: getBestTime('easy') === 'Incomplete' ? 0.8 : 1
      }"
    >
      {{ getBestTime("easy") }}
    </code>
  </div>
  <div class="d-flex justify-content-between">
    <p class="mb-0">Intermediate:</p>
    <div class="filler-dotted-line"></div>
    <code
      class="mb-0"
      [ngClass]="{
        'text-primary': getBestTime('intermediate') !== 'Incomplete',
        'text-white': getBestTime('intermediate') === 'Incomplete'
      }"
      [ngStyle]="{
        opacity: getBestTime('intermediate') === 'Incomplete' ? 0.8 : 1
      }"
    >
      {{ getBestTime("intermediate") }}
    </code>
  </div>
  <div class="d-flex justify-content-between">
    <p class="mb-0">Hard:</p>
    <div class="filler-dotted-line"></div>
    <code
      class="mb-0"
      [ngClass]="{
        'text-primary': getBestTime('hard') !== 'Incomplete',
        'text-white': getBestTime('hard') === 'Incomplete'
      }"
      [ngStyle]="{
        opacity: getBestTime('hard') === 'Incomplete' ? 0.8 : 1
      }"
    >
      {{ getBestTime("hard") }}
    </code>
  </div>
  <div class="d-flex justify-content-between">
    <p class="mb-0">Expert:</p>
    <div class="filler-dotted-line"></div>
    <code
      class="mb-0"
      [ngClass]="{
        'text-primary': getBestTime('expert') !== 'Incomplete',
        'text-white': getBestTime('expert') === 'Incomplete'
      }"
      [ngStyle]="{
        opacity: getBestTime('expert') === 'Incomplete' ? 0.8 : 1
      }"
    >
      {{ getBestTime("expert") }}
    </code>
  </div>
</div>




<!-- minesweeper victory modal -->
<div
  #settingsModal
  class="modal fade"
  id="minesweeper-victory-modal"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="minesweeper-victory-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="overflow-x: auto">
        <!-- start of modal body content -->
        <div
            class="mt-3"
            style="width: fit-content; position: relative; margin: 12px auto"
          >
            <img
              src="../../../assets/golden-emphasis.png"
              alt="decoration lines"
              class="golden-emphasis-left"
            />
            <h3 class="text-info mb-0" style="font-weight: bold">You win!</h3>
            <img
              src="../../../assets/golden-emphasis.png"
              alt="decoration lines"
              class="golden-emphasis-right"
            />
          </div>

          <div>
            <p class="mb-1">Your time: <code class="text-primary" style="font-size: 1rem;">{{ getTimerValue(timer) }}</code></p>
            <p class="capitalize">Difficulty: <span class="text-primary">{{ minesweeperDifficulty }}</span></p>
          </div>
        <!-- end of modal body content -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end of minesweeper victory modal -->



<!-- minesweeper settings modal -->
<div
  #settingsModal
  class="modal fade"
  id="minesweeper-settings-modal"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="minesweeper-settings-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Minesweeper settings</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="overflow-x: auto">
        <!-- start of modal body content -->
        <div class="d-flex remove-p-margin gap-1">
          <div class="col d-flex flex-col">
            <h6 class="2-100" style="text-align: center">Difficulty</h6>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="difficulty"
                id="easy"
                value="easy"
                [(ngModel)]="minesweeperDifficulty"
              />
              <label class="form-check-label" for="easy">Easy</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="difficulty"
                id="intermediate"
                value="intermediate"
                [(ngModel)]="minesweeperDifficulty"
              />
              <label class="form-check-label" for="intermediate"
                >Intermediate</label
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="difficulty"
                id="hard"
                value="hard"
                [(ngModel)]="minesweeperDifficulty"
              />
              <label class="form-check-label" for="hard">Hard</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="difficulty"
                id="expert"
                value="expert"
                [(ngModel)]="minesweeperDifficulty"
              />
              <label class="form-check-label" for="expert">Expert</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="difficulty"
                id="custom"
                value="custom"
                [(ngModel)]="minesweeperDifficulty"
              />
              <label class="form-check-label" for="custom">Custom</label>
            </div>
          </div>

          <div class="col d-flex flex-col align-items-center">
            <h6>{{ screen < 600 ? "Width" : "Height" }}</h6>
            <p>10</p>
            <p>16</p>
            <p>16</p>
            <p>20</p>
            <div class="input-group input-group-sm mb-3">
              <input
                class="form-control input-group-sm"
                type="number"
                min="1"
                oninput="validity.valid||(value='');"
                name="height"
                id="customHeight"
                style="max-width: 65px; margin: 0 auto"
                [(ngModel)]="minesweeperHeight"
                [disabled]="minesweeperDifficulty !== 'custom'"
              />
            </div>
          </div>

          <div class="col d-flex flex-col align-items-center">
            <h6>{{ screen < 600 ? "Height" : "Width" }}</h6>
            <p>10</p>
            <p>16</p>
            <p>24</p>
            <p>35</p>
            <div class="input-group input-group-sm mb-3">
              <input
                class="form-control input-group-sm"
                type="number"
                min="1"
                oninput="validity.valid||(value='');"
                name="width"
                id="customWidth"
                style="max-width: 65px; margin: 0 auto"
                [(ngModel)]="minesweeperWidth"
                [disabled]="minesweeperDifficulty !== 'custom'"
              />
            </div>
          </div>

          <div class="col d-flex flex-col align-items-center">
            <h6>Bombs</h6>
            <p>12</p>
            <p>40</p>
            <p>78</p>
            <p>142</p>
            <div class="input-group input-group-sm mb-3">
              <input
                class="form-control input-group-sm"
                type="number"
                min="0"
                oninput="validity.valid||(value='')"
                name="bombCount"
                id="customBombCount"
                style="max-width: 65px; margin: 0 auto"
                [(ngModel)]="minesweeperBombs"
                [ngStyle]="{
                  cursor: minesweeperDifficulty !== 'custom' && 'disabled'
                }"
                [disabled]="minesweeperDifficulty !== 'custom'"
              />
            </div>
          </div>
        </div>
        <p *ngIf="minesweeperDifficulty === 'custom'" class="remove-p-margin text-danger" style="text-align: end;">
          {{ changeSizeError }}
        </p>

        <div class="d-flex flex-col mt-3 gap-2">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckChecked"
              [(ngModel)]="firstSquareRestart"
              (ngModelChange)="
                lStorage.setItem('minesweeperFirstSquareRestart', $event)
              "
            />
            <label class="form-check-label" for="flexSwitchCheckChecked"
              >Auto retry on first cell</label
            >
          </div>
          <p style="margin-top: -5px">
            <span class="text-info bi bi-info-circle"></span
            ><i style="opacity: 0.7; margin-left: 7px"
              >If the first cell you open is a bomb, the game will restart with
              the same starting cell.</i
            >
          </p>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckChecked"
              [(ngModel)]="noPocketRestart"
              (ngModelChange)="
                lStorage.setItem('minesweeperNoPocketRestart', $event)
              "
            />
            <label class="form-check-label" for="flexSwitchCheckChecked"
              >Auto retry if no pockets opened</label
            >
          </div>
          <p style="margin-top: -5px">
            <span class="text-info bi bi-info-circle"></span
            ><i style="opacity: 0.7; margin-left: 7px"
              >If you explode before any pockets open up, the game will restart
              with the cell last opened.</i
            >
          </p>
        </div>
        <!-- end of modal body content -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="changeSizeError = ''"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onChangeMinesweeperSize()"
          [attr.data-bs-dismiss]="checkCustomSize() ? 'modal' : ''"
        >
          New game
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end of minesweeper settings modal -->
