<button class="btn btn-primary" (click)="onNewGame()">New game</button>

<div
  *ngIf="gameRows.length"
  class="d-flex flex-col justify-content-center align-items-center"
  style="min-width: 300px; padding: 5px"
>
  <div class="w-100 d-flex justify-content-between">
    <h5>{{ getTimerValue() }}</h5>
    <h5
      *ngIf="gameState !== 'new'"
      [ngClass]="{
        'text-primary': gameState === 'win',
        'text-danger': gameState === 'loss'
      }"
    >
      {{ gameState === "win" ? "You won!" : "You lost" }}
    </h5>
  </div>
  <div class="minesweeper-border">
    <div class="d-flex" *ngFor="let row of gameRows; let i = index">
      <div
        *ngFor="let cell of row; let k = index"
        class="d-flex justify-content-center align-items-center"
        [ngClass]="{
          'unopened-cell-img': cell.flagged && cell.value === 'bomb' && cell.revealed || !cell.revealed,
        }"
        style="
          width: 26px;
          height: 26px;
          border-right: 1.8px solid grey;
          border-bottom: 1.8px solid grey;
        "
        [ngStyle]="{
          backgroundColor: cell.destroyed ? 'red' : '#BDBDBD',
        }"
        (click)="onClickCell(i, k)"
        (contextmenu)="onRightClick(i, k, $event)"
      >
        <img
          *ngIf="cell.revealed && cell.value === 'bomb' && !cell.flagged"
          src="../../../assets/bomb.png"
          alt="bomb"
          style="width: 95%"
        />
        <img
          *ngIf="cell.revealed && cell.value !== 'bomb' && cell.flagged"
          src="../../../assets/bomb-x.png"
          alt="bomb"
          style="width: 95%"
        />
        <img
          *ngIf="
            cell.revealed ? cell.flagged && cell.value === 'bomb' : cell.flagged
          "
          src="../../../assets/flag.png"
          alt="flagged cell"
          class="drop-in"
        />
        <img
          *ngIf="
            cell.revealed &&
            cell.value !== 'bomb' &&
            cell.value &&
            !cell.flagged
          "
          [src]="'../../../assets/' + getNumberImg(+cell.value)"
          alt="number"
          style="width: 90%"
        />
      </div>
    </div>
  </div>
</div>
