<div
  class="d-flex gap-3 align-items-center mt-2 mb-2"
  style="margin: 0 auto; width: fit-content"
>
  <a
    *ngIf="screen <= 460"
    class="navbar-toggler d-flex align-items-center gap-2"
    data-bs-toggle="offcanvas"
    data-bs-target="#pokeSearchDrawer"
    role="button"
    aria-controls="pokeSearchDrawer"
    style="text-decoration: none !important"
  >
    <span class="bi bi-search" style="font-size: 18px"></span>
    <span style="opacity: 0.8">Search</span>
  </a>
  <h2 class="text-info mb-0" style="font-size: 25px;">Pokédex</h2>
</div>

<div *ngIf="screen > 460">
  <ng-template *ngTemplateOutlet="pokeSearchBar"></ng-template>
</div>

<div class="d-flex poke-search-wrapper">
  <div *ngIf="screen > 460">
    <ng-template *ngTemplateOutlet="pokeList"></ng-template>
  </div>

  <div
    class="tab-content"
    id="nav-tabContent"
    style="overflow-y: auto; flex: 1"
    [ngStyle]="{
      maxHeight: screen <= 460 ? 'calc(100vh - 96px)' : 'calc(100vh - 150px)'
    }"
  >
    <div
      *ngIf="focusedPoke && !loading"
      class="tab-pane fade show active"
      id="{{ focusedPoke.name }}"
      role="tabpanel"
      aria-labelledby="{{ focusedPoke.name }}"
    >
      <app-poke-detail
        [poke]="detailedPoke"
        [imgLoading]="imgLoading"
        (imgLoaded)="imgLoading = false"
        (increment)="incrementPoke($event)"
      ></app-poke-detail>
    </div>

    <div *ngIf="loading || imgLoading" class="d-flex justify-content-center">
      <div
        class="spinner-border text-primary"
        role="status"
        style="position: relative; top: 100px"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>

<ng-template #pokeSearchBar>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
    <input
      type="text"
      class="form-control"
      aria-label="Pokémon search input"
      [(ngModel)]="pokeSearchString"
      (ngModelChange)="filterPokemon($event)"
    />
  </div>
</ng-template>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="pokeSearchDrawer"
  aria-labelledby="offcanvasExampleLabel"
  style="max-width: 250px"
>
  <div class="offcanvas-header" style="padding-bottom: 5px">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Pokédex search</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body" style="padding-bottom: 0">
    <ng-template *ngTemplateOutlet="pokeSearchBar"></ng-template>
    <ng-template *ngTemplateOutlet="pokeList"></ng-template>
  </div>
</div>

<ng-template #pokeList>
  <div
    style="max-height: calc(100vh - 168px); overflow-y: auto"
    [ngStyle]="{
      width: screen <= 460 ? '100%' : 'clamp(140px, 15vw, 300px)',
      maxHeight: screen <= 460 ? 'calc(100vh - 123px)' : 'calc(100vh - 150px)',
    }"
  >
    <div class="list-group" id="list-tab" role="tablist">
      <a
        *ngFor="let poke of filteredPokemon; let i = index"
        class="list-group-item list-group-item-action capitalize"
        [ngClass]="{ active: focusedPoke === poke }"
        id="{{ poke.name }}"
        role="tab"
        style="cursor: pointer"
        (click)="getPokemonDetails(poke)"
        [data-bs-dismiss]="screen <= 460 ? 'offcanvas' : ''"
        >{{ poke.name }}</a
      >
    </div>
  </div>
</ng-template>
