<app-game-status
  *ngIf="getDataForStatus() && gameFormat"
  [gameState]="getDataForStatus()"
  [currentPage]="'melding'"
  [gameFormat]="gameFormat"
/>

<div class="container fade-in my-3">
  <div class="d-flex flex-column align-items-center gap-2 mb-4">
    <h2 class="text-center mb-2">Melding Phase</h2>
    <sub class="text-center text-muted mb-3"
      >Enter the total meld points for each team.</sub
    >
  </div>

  

  <form class="mb-3">
    <div *ngFor="let team of teams; let i = index" class="form-group mb-3">
      <ng-container *ngIf="showTeamMeldingInput(i)">
        <label [for]="team.name"
          ><strong>{{ getMeldingComboName(i) }}</strong
          >'s meld points</label
        >
        <input
          type="number"
          [id]="team.name"
          [(ngModel)]="team.meldScore"
          (ngModelChange)="onMeldInputChange()"
          [name]="team.name + 'MeldPoints'"
          class="form-control"
          placeholder="Enter Meld Points"
          min="0"
          required
        />
      </ng-container>
    </div>
    <small *ngIf="notAllInputsFilledMessage" class="text-danger">{{
      notAllInputsFilledMessage
    }}</small>
  </form>

  <app-nav-buttons
    [goBackLabel]="'Back'"
    [goForwardLabel]="'Save Meld Points'"
    (backClicked)="goBack()"
    (forwardClicked)="submitMeld()"
  />
</div>
