<div class="page-cont">
  <div class="pag-inner-cont">
    <!-- Your content goes here -->
    <div class="row" style="width: 100%">
      <div style="width: 50%; /* border: 1px solid red */">
        <img
          src="../../assets/mason-hirst-bg-half.png"
          alt="Mason Hirst"
          class="hero-img float-end"
        />
      </div>
      <div style="width: 50%; /* border: 1px solid red */">
        <h1
          class="text-primary"
          style="font-size: clamp(60px, 10vw, 90px); font-weight: bold"
        >
          Hello
        </h1>
        <h1 class="text-info">I'm Mason</h1>
        <div class="intro-card">
          <code style="color: rgba(256, 256, 256, 0.4)"
            >// My self introduction</code
          >
          <code class="text-faded"
            ><span style="color: #cf81e5">Name</span> {{ "{" }}</code
          >
          <code style="margin-left: 15px" class="text-faded"
            >First name: <span class="text-info">Mason</span>;</code
          >
          <code style="margin-left: 15px" class="text-faded"
            >Last name: <span class="text-info">Hirst</span>;</code
          >
          <code class="text-faded">{{ "}" }}</code>
        </div>
        <div class="intro-card margin-left">
          <code class="text-faded"
            ><span style="color: #cf81e5">What I do</span> {{ "{" }}</code
          >
          <code style="margin-left: 15px" class="text-faded"
            >Profession: <br /><code style="margin-left: 15px" class="text-info"
              >Full Stack Developer</code
            >;</code
          >
          <code style="margin-left: 15px" class="text-faded"
            >Last name: <span class="text-info">Hirst</span>;</code
          >
          <code class="text-faded">{{ "}" }}</code>
        </div>
      </div>
    </div>
    <!-- End of page content -->
  </div>
</div>
