.hero-img {
  /* width: min(100%, 400px); */
  width: 100%;
}

.intro-card {
  /* background-color: #212948; */
  background: linear-gradient(to bottom left, #212948, #13182e);
  padding: 20px 29px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: fit-content;
  margin-top: 30px;
  font-size: 14px;
}
.margin-left {
  margin-left: 20%;
}

.work-cards-holder {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 30px;
}

.card-bot {
  margin-top: 30px;
}
.card-top {
  margin-bottom: 30px;
}

.faded-grey-line-left {
  height: 2px;
  border: none;
  background: linear-gradient(to right, rgba(10, 230, 183, 0), #808080 30%);
}

.faded-grey-line-right {
  height: 2px;
  border: none;
  background: linear-gradient(to left, rgba(10, 230, 183, 0), #808080 30%);
}
