<div class="page-cont fade-in">
  <div class="pag-inner-cont">
    <!-- Your content goes here -->
    <section
      class="d-flex w-100 align-items-center gap-10"
      style="gap: 5px; margin-bottom: 5px; max-width: 700px"
    >
      <hr class="faded-grey-line-left w-100" />
      <p style="opacity: 0.4; white-space: nowrap; margin: 0; font-size: clamp(11px, 2vw, 14px)">
        This site was built using Angular and Bootstrap
      </p>
      <hr class="faded-grey-line-right w-100" />
    </section>
    <div class="d-flex justify-content-center" style="width: 100%; justify-content: space-between;" *ngIf="screen >= 600">
      <div style="width: 50%;">
        <img
          src="../../assets/mason-hirst-bg-half.png"
          alt="Mason Hirst"
          class="hero-img float-end"
        />
      </div>
      <div style="">
        <h1
          class="text-primary m-0"
          style="font-size: clamp(60px, 10vw, 90px); font-weight: bold"
        >
          Hello
        </h1>
        <h1 class="text-info">I'm Mason</h1>
        <div class="intro-card rounded-2">
          <code style="color: rgba(256, 256, 256, 0.4)"
            >// My self introduction</code
          >
          <code class="text-faded"
            ><span style="color: #cf81e5">Name</span> {{ "{" }}</code
          >
          <code style="margin-left: 15px" class="text-faded"
            >First name: <span class="text-info">Mason</span>;</code
          >
          <code style="margin-left: 15px" class="text-faded"
            >Last name: <span class="text-info">Hirst</span>;</code
          >
          <code class="text-faded">{{ "}" }}</code>
        </div>

        <div class="intro-card margin-left rounded-2">
          <code class="text-faded"
            ><span style="color: #cf81e5">What I do</span> {{ "{" }}</code
          >
          <code style="margin-left: 15px" class="text-faded"
            >Profession: <br /><code style="margin-left: 15px" class="text-info"
              >Full Stack Developer</code
            >;</code
          >
          <code style="margin-left: 15px" class="text-faded"
            >Strength: <br /><code style="margin-left: 15px" class="text-info"
              >Javascript Frameworks</code
            >;</code
          >
          <code class="text-faded">{{ "}" }}</code>
        </div>
      </div>
    </div>

    <div class="d-flex w-100 justify-content-evenly" *ngIf="screen < 600">
      <div style="width: 50%">
        <img
          src="../../assets/mason-hirst-bg-half.png"
          alt="Mason Hirst"
          class="hero-img float-end"
        />
      </div>
      <div class="d-flex flex-column justify-content-center">
        <h1
          class="text-primary"
          style="font-size: clamp(35px, 10vw, 90px); font-weight: bold"
        >
          Hello
        </h1>
        <h1 class="text-info" style="font-size: clamp(20px, 6vw, 60px);">I'm Mason</h1>
      </div>
    </div>

    <div class="d-flex flex-column gap-3 p-4 w-100" *ngIf="screen < 600" style="max-width: 350px;">
      <div class="intro-card rounded-2"  style="height: fit-content; margin: 0;">
        <code style="color: rgba(256, 256, 256, 0.4)"
          >// My self introduction</code
        >
        <code class="text-faded"
          ><span style="color: #cf81e5">Name</span> {{ "{" }}</code
        >
        <code style="margin-left: 15px" class="text-faded"
          >First name: <span class="text-info">Mason</span>;</code
        >
        <code style="margin-left: 15px" class="text-faded"
          >Last name: <span class="text-info">Hirst</span>;</code
        >
        <code class="text-faded">{{ "}" }}</code>
      </div>

      <div class="intro-card rounded-2 align-self-end" style="height: fit-content; margin: 0;">
        <code class="text-faded"
          ><span style="color: #cf81e5">What I do</span> {{ "{" }}</code
        >
        <code style="margin-left: 15px" class="text-faded"
          >Profession: <br /><code style="margin-left: 15px" class="text-info"
            >Full Stack Developer</code
          >;</code
        >
        <code style="margin-left: 15px" class="text-faded"
          >Strength: <br /><code style="margin-left: 15px" class="text-info"
            >Javascript Frameworks</code
          >;</code
        >
        <code class="text-faded">{{ "}" }}</code>
      </div>
    </div>

    <div style="width: min(100%, 800px); padding: 30px 0">
      <h2
        class="text-primary"
        style="font-size: 34px; font-weight: bold; margin: 0"
      >
        #Industry Experience
      </h2>

      <div class="w-100 work-cards-holder">
        <ng-template let-exp let-index="index" ngFor [ngForOf]="experiences">
          <div
            class="history-card rounded-2"
            [ngStyle]="{
              marginTop: index * 25 + 'px',
            }"
          >
            <p class="text-primary">
              {{ exp.startDate + " - " + exp.endDate }}
            </p>
            <h6 class="text-info">{{ exp.title }}</h6>
            <p style="margin-top: -5px; font-size: 15px" class="text-primary">
              {{ exp.company }}
            </p>
            <p style="color: #8c9fb7">{{ exp.description }}</p>
          </div>
        </ng-template>
      </div>
      <button
        class="btn btn-outline-primary"
        style="margin-top: -80px"
        routerLink="/resume"
      >
        View full work history <i class="bi bi-chevron-right"></i>
      </button>
    </div>

    <hr class="fading-line-primary" />

    <div style="width: min(100%, 800px); padding: 30px 0">
      <h2 class="text-primary" style="font-size: 34px; font-weight: bold">
        #Latest Projects
      </h2>
      <h4 class="text-info" style="max-width: 600px; margin-bottom: 50px">
        I am always working on a personal project to improve my skills. Check
        out one of my apps!
      </h4>

      <div class="w-100">
        <ng-template let-proj let-index="index" ngFor [ngForOf]="projects">
          <div class="proj-preview-card">
            <section class="d-flex justify-content-between align-items-center">
              <h4 class="text-primary">{{ proj.title }}</h4>
              <section class="proj-card-link-wrapper">
                <a
                  class="btn btn-outline-info"
                  [ngStyle]="{ display: proj.liveLink ? 'block' : 'none' }"
                  href="{{ proj.liveLink }}"
                  target="_blank"
                  >Live site</a
                >
                <a
                  class="btn btn-outline-info"
                  href="{{ proj.github }}"
                  target="_blank"
                  >Github repo</a
                >
                <button class="btn btn-outline-primary" routerLink="{{ '/projects/' + proj.path }}">
                  More details <i class="bi bi-chevron-right"></i>
                </button>
              </section>
            </section>
            <img
              [src]="proj.imgPath"
              [alt]="proj.title"
              class="proj-preview-img"
            />
            <p style="max-width: 550px; margin-left: 10px; margin-top: 8px">
              {{ proj.description }}
            </p>
          </div>
        </ng-template>
      </div>
      <a class="btn btn-outline-primary float-end"
        routerLink="/projects"
        >See all projects <i class="bi bi-chevron-right"></i
      ></a>
    </div>

    <div style="width: min(100%, 800px); padding: 30px 0">
      <h2
        class="text-primary"
        style="font-size: 34px; font-weight: bold; margin-bottom: 20px"
      >
        #About Me
      </h2>
      <div class="d-flex gap-3">
        <img
          class="rounded-2"
          src="https://res.cloudinary.com/dk9vsivmu/image/upload/v1689364252/wedding-photo-us_auwmkw.jpg"
          alt="Mason and his wife"
          style="max-width: min(35%, 300px); height: fit-content"
        />
        <section class="d-flex flex-column gap-3">
          <p style="margin: 0; max-width: 400px">
            I have been married to my awesome wife since 2022, and we are
            expecting our first boy soon!
          </p>
          <img
            class="rounded-2"
            src="https://res.cloudinary.com/dk9vsivmu/image/upload/v1689365082/Screenshot_2023-07-14_at_2.03.53_PM_iapink.png"
            alt="Mason mountain biking"
            style="max-width: 100%"
          />
          <p class="" style="max-width: 400px">
            I also love mountain biking, ultimate frisbee, ping-pong, smash
            bros, and piano!
          </p>
        </section>
      </div>
    </div>
    <!-- End of page content -->
  </div>
</div>
<app-footer></app-footer>
