.nimmt-card {
  border-radius: 8px;
  position: relative;
  /* transition: all .3s ease-in-out !important; */
  user-select: none;
}
.nimmt-card > p {
  margin: 0;
  color: black;
  position: absolute;
}

.top-left {
  top: 0;
  left: 0;
  transform: translateX(15%);
}

.top-right {
  top: 0;
  right: 0;
  transform: translateX(-15%);
}

.bottom-left {
  bottom: 0;
  left: 0;
  transform: translateX(15%);
}

.bottom-right {
  bottom: 0;
  right: 0;
  transform: translateX(-15%);
}

.bullheads-wrapper {
  width: 72%;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}