<div
  class="nimmt-card"
  (click)="handleCardClick()"
  [ngStyle]="{
    height: height + 'px',
    width: .6 * height + 'px',
    border: borderWidth + 'px solid ' + borderColor,
    cursor: selectable ? 'pointer' : 'default',
    bottom: selected ? .2 * height + 'px' : '',
    marginLeft: cardIndex > 0 ? -.2 * height + 'px' : '',
    backgroundColor: backgroundColor,
  }"
>
  <p
    *ngFor="let index of [0, 1, 2, 3]"
    class="card-number"
    [ngClass]="{
      'top-left': index === 0,
      'top-right': index === 1,
      'bottom-left': index === 2,
      'bottom-right': index === 3,
    }"
    [ngStyle]="{
      fontSize: .10 * height + 'px',
      fontWeight: 'bold',
    }"
  >
    {{ card.number }}
  </p>

  <p
    [ngStyle]="{
      fontSize: .33 * height + 'px',
      top: '50%',
      left: '50%',
      transform: 'translate(-50%, -50%)',
    }"
  >
    {{ card.number }}
  </p>

  <p *ngIf="showPlayerName()">{{ showPlayerName() }}</p>

  <p>{{card.bullheads}}</p>
  <section
    *ngIf="card.bullHeads"
    class="bullheads-wrapper"
    
  >
    <img
      *ngFor="let _ of [].constructor(card.bullHeads)"
      src="../../../../assets/bullhead.svg"
      alt="bullhead-icon"
      [ngStyle]="{
        width: .1 * height + 'px',
      }"
    />
  </section>
</div>
