<app-game-status
  [onlySettingsButton]="true"
  [gameFormat]="gameFormat"
/>

<div class="container fade-in my-3">
  <h2 class="text-center mb-4">Name Your Teams</h2>

  
  <form class="mb-5">
    <p class="text-center text-muted">
      You are setting up a {{ formatLabel }} game. Please enter names for each team:
    </p>

    <div *ngFor="let team of teams; let i = index" class="form-group mb-3">
      <label style="font-size: .9rem;" [for]="'teamName' + i">Team {{ i + 1 }} Name</label>
      <div class="d-flex align-items-center gap-2">
        <input
        type="text"
        [maxlength]="25"
        [id]="'teamName' + i"
        [(ngModel)]="team.name"
        (ngModelChange)="onNameInputChange()"
        [name]="'teamName' + i"
        class="form-control"
        placeholder="Enter Team Name"
        required
      />
      <button class="btn btn-outline-info" (click)="assignRandomTeamName(i)">Random</button>
      </div>
    </div>
    <small *ngIf="noNameMessage" class="text-danger">{{ noNameMessage }}</small>
  </form>

  <app-nav-buttons
    [goBackLabel]="'Back'"
    [goForwardLabel]="'Start Game'"
    (backClicked)="goBack()"
    (forwardClicked)="startGame()"
  />
</div>