/* @import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic"); */

.index-body {
  background-color: #11162b;
  color: rgba(256, 256, 256, 0.9);
}
.text-faded {
  color: rgba(255, 255, 255, 0.8);
}

/* body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: Lato, "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial,
    sans-serif !important;
  line-height: 1.5 !important;
} */

.page-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pag-inner-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #11162b;
  border-color: #0ae6b7;
  border-bottom-color: #11162b;
  color: #0ae6b7 !important;
}
.nav-tabs {
  border-bottom-color: #0ae6b7 !important;
}

.nav-pills .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.nav-pills .nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.nav-pills .nav-link.active {
  outline: 1px solid #0ae6b7 !important;
  color: #0ae6b7 !important;
  background-color: transparent !important;
}

.v-line {
  border-left: 1px solid rgba(256, 256, 256, 0.2);
}

.proj-preview-img {
  max-width: 100%;
  border-radius: 4px;
}

.proj-preview-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 50px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.fade-in {
  opacity: 0;
  animation: fade-in-animation 0.6s ease-in forwards;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fading-line-primary {
  width: 100%;
  height: 3px;
  border: none;
  margin: 20px 0;
  background: linear-gradient(
    to right,
    rgba(10, 230, 183, 0),
    #0ae6b7 10%,
    #0ae6b7 90%,
    rgba(10, 230, 183, 0)
  );
}

.display-none {
  display: none !important;
}

.filler-dotted-line {
  border-bottom: 2px dotted white;
  opacity: .5;
  flex: 1;
  margin: 0 5px;
  margin-bottom: 5px;
}

.golden-emphasis-left {
  width: 35px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-90%) translateY(-10%) rotate(-50deg);
}

.golden-emphasis-right {
  width: 35px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(90%) translateY(-10%) rotate(50deg) scaleX(-1);
}

.capitalize {
  text-transform: capitalize;
}

.dark-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.truncate {
  text-align: left !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}




.nimmt-game-float-wrapper {
  position: fixed;
  background-color: #11162B;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 60px);
  z-index: 100;
}