<app-game-status
  *ngIf="getDataForStatus() && gameFormat"
  [gameState]="getDataForStatus()"
  [currentPage]="'bidding'"
  [gameFormat]="gameFormat"
/>

<div class="container fade-in my-4">
  <div class="d-flex flex-column align-items-center gap-2 mb-4">
    <h2 class="text-center">Bidding Phase</h2>
    <small class="text-muted"
      >Bidding starts with the player to the dealer's left and proceeds
      clockwise.</small
    >
    <small class="text-muted"
      >If no one bids in the first round, reshuffle and redeal the cards.</small
    >
  </div>

  <form *ngIf="gameState" class="mb-3">
    <div class="form-group mb-4">
      <label for="bidAmount" id="bid-amount-input-label"
        >Enter Winning Bid Amount</label
      >
      <input
        type="number"
        inputmode="numeric"
        enterKeyHint="done"
        id="bidAmount"
        step="1"
        [(ngModel)]="gameState.currentBid"
        (ngModelChange)="onBidAmountChange()"
        name="bidAmount"
        class="form-control"
        placeholder="Enter Bid Amount"
        min="0"
        required
      />
      <small *ngIf="noBidMessage" class="text-danger">{{ noBidMessage }}</small>
    </div>

    <div class="form-group mb-4 d-flex flex-column gap-2 align-items-center">
      <label id="winning-team-select-label">Select Winning Team</label>

      <!-- start -->
      <div class="winning-team-inputs-container">
        <div
          *ngFor="let team of gameState.teams; let i = index"
          class="winning-team-option"
        >
          <!-- Hidden radio input -->
          <input
            type="radio"
            [id]="'team' + i"
            [(ngModel)]="primaryWinningTeamIndex"
            (ngModelChange)="onPrimaryWinningTeamChange()"
            [value]="i"
            name="winningTeam"
            required
            class="hidden-radio"
          />
          <!-- Custom Box -->
          <label
            [for]="'team' + i"
            class="custom-box"
            style="font-weight: bold"
          >
            <i
              class="bi bi-fire text-danger fire-icon"
              [ngStyle]="{
                opacity: primaryWinningTeamIndex === i ? 1 : 0,
              }"
            ></i>
            {{ team.name }}
          </label>
        </div>
        <small *ngIf="noWinnerMessage" class="text-danger">
          {{ noWinnerMessage }}
        </small>
      </div>
      <!-- end -->
    </div>

    <div
      *ngIf="shouldShowSecondaryWinnerChoice"
      class="form-group mb-4 d-flex flex-column gap-2 align-items-center"
    >
      <label id="select-secondary-select-label"
        >Select Secondary Winning Team</label
      >

      <div class="winning-team-inputs-container">
        <div
          *ngFor="let team of secondaryTeamChoices; let i = index"
          class="winning-team-option"
        >
          <!-- Hidden radio input -->
          <input
            type="radio"
            [id]="'secondary-team' + i"
            [(ngModel)]="secondaryWinningTeamIndex"
            (ngModelChange)="onSecondaryWinningTeamChange()"
            [value]="i"
            name="secondaryWinningTeam"
            required
            class="hidden-radio"
          />
          <!-- Custom Box -->
          <label
            [for]="'secondary-team' + i"
            class="custom-box"
            style="font-weight: bold"
          >
            <i
              class="bi bi-fire text-danger fire-icon"
              [ngStyle]="{
                opacity: secondaryWinningTeamIndex === i ? 1 : 0,
              }"
            ></i>
            {{ team.name }}
          </label>
        </div>
        <small *ngIf="noSecondaryWinnerMessage" class="text-danger">{{
          noSecondaryWinnerMessage
        }}</small>
      </div>

    </div>

    <p class="text-center" id="select-trump-suit-heading">Select trump suit</p>

    <div class="suit-selector">
      <label class="suit-option" *ngFor="let suit of suitOptions">
        <input
          type="radio"
          name="suit"
          [value]="suit"
          [(ngModel)]="gameState.trumpSuit"
          (ngModelChange)="onTrumpSuitSelectionChange()"
        />
        <div class="suit-box">
          <span
            class="suit-icon black-shape-border"
            [ngStyle]="{
              color: getTrumpSuitColor(suit)
            }"
            >{{ suitIcons[suit] }}</span
          >
          <span class="suit-label">{{ suit }}</span>
        </div>
      </label>
    </div>

    <small *ngIf="noTrumpSuitMessage" class="text-danger text-center">{{
      noTrumpSuitMessage
    }}</small>
  </form>

  <app-nav-buttons
    [goBackLabel]="goBackLabel"
    [goForwardLabel]="'Save Bid'"
    (backClicked)="goBack()"
    (forwardClicked)="submitBids()"
  />
</div>
