<section>
  <h3 style="color: aqua; margin-bottom: 15px">{{ showGameState() }}</h3>
</section>

<div class="card-select-wrapper">
  <section class="stack">
    <div
      *ngFor="let stack of gameData?.tableStacks; let i = index"
      class="card-row d-flex align-items-center"
      [key]="i"
    >
      <h4>{{ i + 1 }}</h4>
      <app-nimmt-card
        *ngFor="let card of stack.reverse(); let i = index"
        [key]="i"
        height="135"
        [card]="card"
        [selectable]="false"
      ></app-nimmt-card>
    </div>
  </section>

  <section class="player-cards-wrapper">
    <div *ngFor="let player of getPlayers()" class="name-card-duo">
      <div>
        <div style="display: flex; gap: 10px; align-items: center">
          <div
            *ngIf="showPlayerNeedsToPick(player)"
            class="spinner-border spinner-border-md"
            style="color: yellow !important"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          <h4>
            {{ player.playerName }}
            <span style="color: white"
              >(<span
                [ngStyle]="{
                  color: getRoundScores(player) > 0 ? 'yellow' : 'white'
                }"
                >{{ getRoundScores(player) }}</span
              >)</span
            >
          </h4>
        </div>
        <div>
          <p style="font-size: 12px">
            Total Score: {{ getScoreboardScore(player) }}
          </p>
        </div>
      </div>
      <app-nimmt-card
        *ngIf="showPlayerCard(player); else noCard"
        [key]="i"
        height="60"
        [card]="player?.selectedCard"
        [selectable]="false"
      />
      <ng-template #noCard>
        <app-nimmt-card
          height="60"
          [selectable]="false"
          [borderColor]="player.selectedCard ? 'black' : 'white'"
          [backgroundColor]="!player.selectedCard ? 'transparent' : 'white'"
        />
      </ng-template>
    </div>
  </section>
</div>
